{% extends "dashboard/base.html" %}

{# ======================================================
#  HEADER DO DASHBOARD
# ====================================================== #}
{% block header %}
  {{ title }}
{% endblock %}

{# ======================================================
#  CONTEÚDO PRINCIPAL
# ====================================================== #}
{% block content %}

<div class="space-y-8">

  {# ====================================================
  #  DASHBOARD DO ALUNO
  # ==================================================== #}
  {% if show_student_cards %}
      {% include "dashboard/student_dashboard.html" %}
  {% endif %}

  {# ====================================================
  #  DASHBOARD DO PROFESSOR
  # ==================================================== #}
  {% if show_teacher_cards %}
      {% include "dashboard/teacher_dashboard.html" %}
  {% endif %}

  {# ====================================================
  #  DASHBOARD DO ADMINISTRADOR
  # ==================================================== #}
  {% if show_admin_cards %}
      {% include "dashboard/admin_dashboard.html" %}
  {% endif %}

</div>

{% endblock %}
