{% extends "dashboard/base.html" %}

{% block header %}
{{ title }}
{% endblock %}

{% block content %}

<div class="space-y-6">

  {# ================================
  DASHBOARD DO ALUNO
  ================================= #}
  {% if show_student_cards %}
  {% include "dashboard/student_dashboard.html" %}
  {% endif %}

  {# ================================
  DASHBOARD DO PROFESSOR
  ================================= #}
  {% if show_teacher_cards %}
  {% include "dashboard/teacher_dashboard.html" %}
  {% endif %}

  {# ================================
  DASHBOARD DO ADMIN
  ================================= #}
  {% if show_admin_cards %}
  {% include "dashboard/admin_dashboard.html" %}
  {% endif %}

</div>

{% endblock %}